<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Context>
    <Resource accessToUnderlyingConnectionAllowed="true" cloudDatabaseKey="" driverClassName="org.h2.Driver" logAbandoned="true" name="jdbc/main" password="cronappfc" profile="DEV" removeAbandoned="false" removeAbandonedTimeout="60" schema="" type="javax.sql.DataSource" url="jdbc:h2:file:~/dadsasdasdas;AUTO_SERVER=TRUE;DATABASE_TO_UPPER=FALSE" username="root"/>  
    <Profile value="DEV"/>
    <Profile value="PROD"/>
</Context>
